spring:
  mail:
    host: smtp.yandex.ru
    port: 465
    username: pustygina.nastya@yandex.ru
    password: ehmyycfyvswawryd
    protocol: smtps
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          connectiontimeout: 10000
          timeout: 10000
          writetimeout: 10000
  datasource:
    url: jdbc:postgresql://localhost:5434/dpo_spring
    username: postgres
    password: dpo_springPass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    contexts: development,test,production
    enabled: true
    default-schema: public
  jackson:
    serialization:
          write-dates-as-timestamps: false

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
